<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="case-number">Case 101</span>
      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class="history-wrapper">
      <div class="step completed" *ngFor="let item of historyData">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>

        <div class="content">
          {{item.date}}
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="case-number">Case 102</span>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="history-wrapper">
      <div class="step completed" *ngFor="let item of historyData">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>

        <div class="content">
          {{item.date}}
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="case-number">Case 103</span>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="history-wrapper">
      <div class="step completed" *ngFor="let item of historyData">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>

        <div class="content">
          {{item.date}}
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="case-number">Case 104</span>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="history-wrapper">
      <div class="step completed" *ngFor="let item of historyData">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>

        <div class="content">
          {{item.date}}
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="case-number">Case 105</span>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="history-wrapper">
      <div class="step completed" *ngFor="let item of historyData">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>

        <div class="content">
          {{item.date}}
        </div>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>
