  <div class="contact-details">
    <p class="title">KYC Owner Details</p>

    <div class="row contact-details-wrapper mr-0 ml-0">
      <div class=" primary-section">
        <div class="box-title">
          <p> Primary</p>
        </div>
        <div class="row box-detail">
            <div class="col-sm-11">
              <img src="../assets/images/icons8-profile-80.png" alt="">
              <p>Bimalesh Sahoo</p>
            </div>
            <div class="col-sm-11">
              <img src="../assets/images/icons8-email-64.png" alt="">
            <p> <a href="">Bimalesh Sahoo</a> </p>
            </div>
            <div class="col-sm-11">
              <img src="../assets/images/icons8-telephone-64.png" alt="">
              <p>Bimalesh Sahoo</p>
            </div>
        </div>

      </div>

      <div class=" secondary-section">
          <div class="box-title">
            <p> Secondary</p>
          </div>
          <div class="row box-detail">
            <div class="col-sm-11">
            <img src="../assets/images/icons8-profile-80.png" alt="">
              <p>Bimalesh Sahoo</p>
            </div>
            <div class="col-sm-11">
                    <img src="../assets/images/icons8-email-64.png" alt="">
              <p> <a href="">Bimalesh Sahoo</a> </p>
            </div>
            <div class="col-sm-11">
              <img src="../assets/images/icons8-telephone-64.png" alt="">
              <p>Bimalesh Sahoo</p>
            </div>
          </div>
      </div>

    </div>
  </div>